.page-wrapper {
    width: 60%;
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.video {
    aspect-ratio: 16 / 9;
    width: 120vh;
    border-radius: 10px;
}

.titleHori {
    font-family: "Lato-Bold";
    text-transform: uppercase;
    letter-spacing: 2px;
}

.titleHori h2 {
    margin: 0;
}

.text {
    padding-top: 6vh;
    height: 40vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text h1 {
    font-family: "Lato-Bold", sans;
    font-size: 3.5vh;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.instagram-media {
    border-radius: 15px !important;
}




/* ARROWS */

.scrolldown {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    position: relative;
    width: 15vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chevron {
    position: absolute;
    width: 5vh;
    height: 1vh;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@media only screen and (max-width: 600px) {
    .video {
        width: 44vh;
    }

    .titleHori {
        display: none;
    }

    .text {
        padding-top: 2vh;
        padding-bottom: 6vh;
    }
}