@font-face {
  font-family: "Lato-Light";
  src: url("/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/Lato-Bold.ttf");
}

:root {
  font-family: "Lato-Light", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color);
}

a:hover {
  color: #808080;
}

body {
  overflow-x: hidden;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

h1 {
  font-size: 6.5vh;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #808080;
  }

  button {
    background-color: #f9f9f9;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 1;
}

.header h1 {
  margin: 0;
  margin-left: 12vh;
  margin-right: 12vh;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  font-size: 8vh;
  letter-spacing: 20px;
  z-index: 2;
  transition: all .5s ease-in-out;
  text-align: center;
  white-space: nowrap;
}

/* 
.header::after {
  content: "";
  width: 90%;
  height: 1px;
  background: rgb(0, 0, 0);
  background: linear-gradient(94deg, rgba(0, 0, 0, 0) 0%, rgba(206, 206, 206, 0.6) 20%, rgba(206, 206, 206, 0.6) 83%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;

} */

.nav,
.header h1 {
  margin-top: 1.5vh;

}

.header-gif {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  opacity: .5;
  transition: all .5s ease-in-out;
  z-index: 1;
}

.header-gif.snapped {
  opacity: 0;
}

#header {
  z-index: 999;
}

#header.snapped {
  height: 10vh;
  color: var(--color);
  box-shadow: 0px 15px 55px rgba(0, 0, 0, 1);
}

#header.snapped h1 {
  transform: scale(0.5);
  transition: all .5s ease-in-out;
  letter-spacing: 10px;
}

.navrow {
  width: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav {
  transform: translateX(60px);
  opacity: 0;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
}

.nav.snapped {
  transform: translateX(0);
  opacity: 1;
  z-index: 999;

}

.nav1 {
  transform: translateX(-60px);
  opacity: 0;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;

}

.nav1.snapped {
  transform: translateX(0);
  opacity: 1;
  z-index: 999;

}

.section {
  position: relative;
}

.fp-tableCell {
  vertical-align: bottom;
}

.page {
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(0, 0, 0);
}

.page.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page.one p {
  font-size: 5vh;
  letter-spacing: 3px;
  margin: 1vh 1vh 1vh 1vh;
}

.page.two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page.two h2 {
  margin-top: 12vh;
  margin-bottom: 2vh;
  letter-spacing: 5px;
  font-weight: 900;
  font-family: "Lato-Bold", sans-serif;
}

.projects-content {
  width: 100%;
  gap: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color) var(--background-color);
}

.projects-inner {
  width: 100%;
  gap: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color) var(--background-color);
  flex-grow: 1;
}

.projects-inner::-webkit-scrollbar {
  display: none;
}

.projects-content::-webkit-scrollbar {
  width: 8px;
}

.projects-content::-webkit-scrollbar-track {
  background: var(--background-color);
}

.projects-content::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 10px;
  border: 2px solid var(--background-color);
}

.projects-content::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff8e;
}

.project {
  width: 47%;
  height: 37.5vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s;
  position: relative;
  cursor: pointer;
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s;
  z-index: 1;
}

.project h2 {
  margin: 0 !important;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #fff;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translateY(200px);
}

.project:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.project:hover h2 {
  opacity: 1;
  transform: translateY(0);
}

.project h2:first-child {
  font-size: 2vh;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.project h2:last-child {
  font-size: 3vh;
  letter-spacing: 4px;
  text-transform: uppercase;
}


.project.cash {
  background: url("/projects/01cash.png");
  background-size: cover;
}

.yt {
  background: url("/projects/02yt.png");
  background-size: cover;
  background-position: center center;
}

.lumberjack {
  background: url("/projects/03lumber.png");
  background-size: cover;
  background-position: center center;
}

.guitar {
  background: url("/projects/04gu.png");
  background-size: cover;
  background-position: center center;
}

.ball {
  background: url("/projects/05 9Ball.png");
  background-size: cover;
  background-position: center center;
}

.astro {
  background: url("/projects/06 Astronaut.png");
  background-size: cover;
  background-position: center center;
}

.bbf {
  background: url("/projects/07 Berg Bounce Fest.png");
  background-size: cover;
  background-position: center center;
}

.bergan {
  background: url("/projects/08 Berg Announcement.png");
  background-size: cover;
  background-position: center center;
}

.kbms {
  background: url("/projects/09 24 Kbms.png");
  background-size: cover;
  background-position: center center;
}

.big {
  background: url("/projects/10 Biggest Trampoline.png");
  background-size: cover;
  background-position: center center;
}

.jesse {
  background: url("/projects/11 Jesse Heffels.png");
  background-size: cover;
  background-position: center center;
}

.wc {
  background: url("/projects/13 WorldChamps.png");
  background-size: cover;
  background-position: center center;
}

.prolaunch {
  background: url("/projects/14 Berg Pro Launcher.png");
  background-size: cover;
  background-position: center center;
}

.threedee {
  background: url("/projects/15 2Dto3D.png");
  background-size: cover;
  background-position: center center;
}

.salon {
  background: url("/projects/12 Salon.png");
  background-size: cover;
  background-position: center center;
}

.page.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tpose {
  flex-grow: 1;
  width: 100%;
  background: url("/OnTop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page.four {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stupid-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.row h2 {
  letter-spacing: 3px;
}

.row p {
  font-size: 3vh;
}

.portrait {
  width: 40%;
}

.page.five {
  min-height: 85vh;
  max-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page.five h2 {
  letter-spacing: 3px;
}

form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

form input {
  background: transparent;
  padding: 2vh 2vh;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
}

form input::placeholder {
  font-family: "Lato-Bold", sans;
}

form textarea {
  background: transparent;
  padding: 2vh 2vh;
  border: 2px solid #fff;
  height: 30vh;
  border-radius: 10px;
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
}

.page.five h3 {
  margin: 0;
  font-family: "Lato-Bold", sans-serif;

}

.firstfirst {
  margin-top: 3vh !important;
}

.header.snapped>.scrolldown {
  opacity: 0;
}

.scrolldown {
  position: absolute;
  bottom: 12%;
  right: 48%;
  transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
}

.container {
  position: relative;
  width: 15vh;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chevron {
  position: absolute;
  width: 4.5vh;
  height: .7vh;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
  border-radius: 2px 0px 2px 2px;

}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(20px);
  }

  67% {
    opacity: 1;
    transform: translateY(30px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.fa-instagram:hover {
  color: #C13584 !important;
}

.fa-youtube:hover {
  color: #ff2d2d !important;
}

.fa-linkedin:hover {
  color: #0072b1 !important;
}

input:focus,
textarea:focus {
  outline: none;
}

.mail {
  margin-top: 4vh;
  font-family: "Lato-Bold", serif;
  font-size: 3.5vh;
  line-height: 1.5;
  font-weight: 400;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navrow {
    display: none;
  }

  .header {
    text-align: center;

  }

  .header h1 {
    font-size: 4vh;
    text-wrap: wrap;
  }

  .scrolldown {
    right: 36%;
    bottom: 5%;
  }

  .page.one p {
    font-size: 4vh;
    text-align: center;
  }

  .projects-content {
    padding: 0 !important;
  }

  .project {
    width: 97%;
  }

  .stupid-wrapper {
    flex-direction: column;
  }

  .row {
    width: 97%;
    text-align: center;
  }

  form {
    width: 90%;
  }
}